<p>Dear {{ name }},</p>
<p>
    To verify account
    <a href="{{ activation_url }}">
        click here
    </a>.
</p>
<p>If you have not created an account, simply ignore this message as account will be deleted after 24 hours.</p>
<p>Sincerely,</p>
<p>Giveaway.dev Team</p>