<p>Dear {{ name }},</p>
<p>
    To reset your password
    <a href="{{ reset_password_url }}">
        click here
    </a>.
</p>
<p>If you have not requested a password reset simply ignore this message.</p>
<p>Sincerely,</p>
<p>Giveaway.dev Team</p>